version: '3'
services:
  traefik:
    image: traefik:{{ traefik_docker_image_version }}
    command: >
      --docker
      --docker.domain='integr8.me'
      --docker.swarmmode
      --docker.watch
      --docker.exposedbydefault=false
      --debug
      --logLevel=INFO
      --accessLog
      --entrypoints='Name:http Address::80'
      --entrypoints='Name:https Address::443 TLS'
      --api
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - integr8_tools
    deploy:
      replicas: 2
      labels:
        - traefik.enable=true
        - traefik.frontend.rule=Host:{{ traefik_host }}
        - traefik.frontend.auth.basic.users={{ traefik_htpasswd_string.stdout | regex_replace('\$','$$') }}
        - traefik.backend=reverse-proxy
        - traefik.port=8080
        - traefik.docker.network=integr8_tools
      placement:
        constraints:
          - node.role == manager
networks:
  integr8_tools:
    external: true
